.navbar {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position:sticky;
    top:0;
    z-index: 1030;
    margin: 2px;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .item:hover,
  .navbar-title:hover {
    color: #f39406;
    cursor: pointer;
  
  }
  
  .item {
    color: white;
    background-color: transparent;
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: "Raleway", sans-serif;
    font-weight:lighter;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    border: none;
    text-decoration: none;

  }


  @media (max-width: 480px) {
  

    .navbar {
      display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position:sticky;
    top:0;
    z-index: 1030;
    margin: 2px;
      width: 15vw;
    }
  
    .item {
      font-size: 2.1rem;
      color: white;
    background-color: transparent;
     display: inline;
    box-sizing: border-box;
    padding: 4px 9px;
    font-family: "Raleway", sans-serif;
    font-weight:lighter;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    border: none;
    text-decoration: none;
    }
  }
  