html {
    height: 100vh;
    height: 100vh;
    background: linear-gradient(#20C4F8, rgba(9, 251, 164, .5)) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    scroll-behavior: smooth;
   
  }

  [id] {
    scroll-margin-top: 2ex;
  }
  