

html {
    height: 100vh;
    height: 100vh;
    background: linear-gradient(#6adaf1
    10%, #76e5e6
    50%, #81eae2
    50%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
   
  }