.resume-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vh;
    margin: 200px auto;
    height: 60vh;
    padding: 50px;
} 

.resume-container {
    display: flex;
    margin: 30vh auto;
    height: 60vh;
     flex-direction: column;
    flex-wrap: wrap;
    /* height: 120px; */
    width: 516px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.resume-wrapper {
    display: flex;
    margin: -40vh auto;
    height: 60vh;
     flex-direction: column;
    flex-wrap: wrap;
    /* height: 120px; */
    width: 516px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.resume-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin: -7vh auto;
}

.resume-photo {

    display: flex;
     justify-content: center;
    align-items: center;
    align-content: center;
    width: 55vw;
    flex: 0 0 50px;
    height: 100vh;
}