.footer-container {
    z-index: 7;
  }
  .footer {
      /* padding: -80vh; */
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      width: 100%;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 10px auto;
    }