.footer-container {
    z-index: 7;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 5vh;
    margin: 5vh auto;
    height: 10vh; 
    white-space: nowrap; 
    word-wrap: break-word;
  }
  .footer {
      /* padding: -80vh; */
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      width: 100%;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 10px auto;
    }