.landing-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    margin: 51px auto;
    height: 100vh;
    white-space: nowrap;
}

.my-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bolder;
        padding-top: 2em;
        margin-top: 1em;
        margin: 15px auto;
        height: 20vh;
}

.line1 {
    width: 100vh;
    margin: 1px auto;
    height: 5vh;
    border: none;
    border-bottom: 4px solid #09FBA4;
}

.job {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin: 15px auto;
    height: 20vh;
}


@media (max-width: 480px) {
  
    .my-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-weight: bolder;
            padding-top: 2em;
            margin-top: -16em;
    }
    .line1 {
      visibility: hidden;
    }

    .job {
     
        font-size: 2rem;
   
    }
  }
  